{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "components",
        "~directives": "directives",
        "~mixins": "mixins",
        "~utilities": "utilities"
      }
    }]
  ],
  "comments": false
}
